<a href="https://colab.research.google.com/github/whitefreeze/Prediction-of-House-Prices-or-Pump-Failure/blob/main/Prediction_of_House_Prices_or_Pump_Failure_Part0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset Selection

Create a notebook where you have uploaded and shown the .head() of each of your data sets. For each of the proposed datasets, include the following information in text cells:

## Load Data

In [14]:
# Libraries
import pandas as pd

# Display all columns
pd.set_option('display.max_column', None)

In [15]:
# Conect to Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## First choice: USA Real Estate Dataset

In [16]:
## Load in Data
path = '/content/drive/MyDrive/Data Science/Coding Dojo/Course 2: ML/07 Week 7: Classification Metrics/realtor-data.csv'
df_RE = pd.read_csv(path)
df_RE.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

1. Source of data

> [Kaggle](https://www.kaggle.com/datasets/0e23f01c0fc5a3d7a83e20023c70534df3cbbc6c23f1baf19f2ae3961a1576d7)

2. Brief description of data

> "This dataset contains Real Estate listings in the US broken by State and zip code."

3. What is the target?

> 'price' is the target feature.

4. What does one row represent? (A person?  A business?  An event? A product?)

> One row represents one property (house) for sale.

5. Is this a classification or regression problem?

> While the 'price' feature is a regression value, I would like to treat this as a classification problem, where the result is broken up into different levels of recommendation to either buy or sell a house/property, such as:
> * Sell: Strong
> * Sell: Moderate
> * Buy: Strong
> * Buy: Moderate
> * Neutral

> This could potentially use "clustering" to separate regression values into classifications.

6. How many features does the data have?

> It has ten features.

In [25]:
# Count number of features
shape = df_RE.shape
print('Number of columns: ', shape[1])

Number of columns:  10

7. How many rows are in the dataset?

In [33]:
# Count number of observations
print(f"The USA Real Estate Dataset has {len(df_RE.index)} observations.")

The USA Real Estate Dataset has 206000 observations.

> It has 206,000 rows in the dataset.

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

> I think that one of the biggest challenges will be properly converting regression values into accurate and well defined categorical classes. 

> I expect that the normal preprocessing will also apply to this dataset, but I do not expect it to be especially difficult for preprocesing.

## Second choice: Pump It Up

In [18]:
## Load in Data
path = '/content/drive/MyDrive/Data Science/Coding Dojo/Course 2: ML/07 Week 7: Classification Metrics/Pump it Up/training_Set_values.csv'
df_PU = pd.read_csv(path)
df_PU.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

1. Source of data

> [Pump It Up Challenge : Driven Data](https://www.kaggle.com/datasets/sumeetsawant/pump-it-up-challenge-driven-data?select=training_Set_values.csv)

2. Brief description of data

> The goal is to predict the operating condition of a waterpoint/pump for each record in the dataset.

3. What is the target?

> The target is proper classification from the following three categories:
> * 'functional'
> * 'non functional'
> * 'functional needs repair'

4. What does one row represent? (A person?  A business?  An event? A product?)

> Each row represents a waterpoint and its information.

5. Is this a classification or regression problem?

> This is a classification problem with, again, the following three categories:
> * 'functional'
> * 'non functional'
> * 'functional needs repair'

6. How many features does the data have?

> It has 40 features.

In [26]:
# Count number of features
shape = df_PU.shape
print('Number of columns: ', shape[1])

Number of columns:  40

7. How many rows are in the dataset?

In [19]:
print(f'The "Pump It Up" Dataset has {len(df_PU.index)} observations')

The "Pump It Up" Dataset has 59400 observations

> It has 59,400 rows in the dataset.

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

> While there are 40 features in this dataset, they mostly deal with information about the pumps' location, water, who owns and operates the pump, and payment modes. 

> It would be more useful/accurate to include information about maintenance records and inspection frequencies, as those seem to me as being more corelated to keeping pumps active and in service. Maintenance/Inspection information should have been included!

> It will be interesting to see how accurately the included features can predict pump working status. 

> I also expect there to be an amount of data cleaning and preprocessing, as this appears to be a real-world dataset from Tanzania.